pipeline/pl_ingest_inmet_landing_dev.json
{
	"name": "pl_ingest_inmet_landing_dev",
	"properties": {
		"activities": [
			{
				"name": "web_get_apiKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-atmos-dev-westus2-001.vault.azure.net/secrets/visualcrossing-api-key-dev/32f16e21f7ae4841bbafc45538f653e7?api-version=2025-07-01",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web_get_apiKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "year_list",
					"value": {
						"value": "@range(pipeline().parameters.startYear, add(sub(pipeline().parameters.endYear,pipeline().parameters.startYear),1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "foreach_ano",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('year_list')",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "copy_inmet_to_landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "GoogleBigQueryV2Source",
									"query": {
										"value": "@concat('SELECT * FROM `basedosdados.br_inmet_bdmep.microdados`\nWHERE id_estacao = ''',pipeline().parameters.id_estacao,'''\nAND ano = ',string(item()))\n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_bigquery_inmet_src_dev",
									"type": "DatasetReference",
									"parameters": {
										"id_estacao": {
											"value": "@pipeline().parameters.id_estacao",
											"type": "Expression"
										},
										"ano": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_inmet_landing_dev",
									"type": "DatasetReference",
									"parameters": {
										"ano": {
											"value": "@item()",
											"type": "Expression"
										},
										"file_name": {
											"value": "@toLower(concat('atmos_', pipeline().parameters.id_estacao, '_', string(item()),formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.csv'))",
											"type": "Expression"
										},
										"id_estacao": {
											"value": "@pipeline().parameters.id_estacao",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"id_estacao": {
				"type": "string"
			},
			"startYear": {
				"type": "int"
			},
			"endYear": {
				"type": "int"
			}
		},
		"variables": {
			"year_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "INMET"
		},
		"annotations": []
	}
}